@page
@model Pages_OurTeam
@{
    ViewData["Title"] = "Our Team";
}

<div class="container">
    <h1 class="mt-4">Meet Our Team</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src= "https://cdn.pixabay.com/photo/2017/11/16/07/18/girl-2953562_1280.jpg" class="card-img-top" alt="Your Photo">
                <div class="card-body">
                    <h5 class="card-title">Supriya Polepalli</h5>
                    <p class="card-text">Founder & CEO. [Supriya Polepalli] is passionate about connecting talent with opportunity and has over 10 years of experience in the recruitment industry.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src= "https://ntvb.tmsimg.com/assets/assets/308909_v9_bb.jpg?w=360&h=480" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">Jones Smith</h5>
                    <p class="card-text">Senior Recruiter. Jane specializes in technology and engineering recruitment, bringing over 8 years of experience in finding the perfect match for complex roles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src= "https://hips.hearstapps.com/hmg-prod/images/gettyimages-1351324638-652c651ddcd48.jpg" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">Suzzane Varga</h5>
                    <p class="card-text">HR Specialist. Suzanne excels in executive recruitment and has a track record of placing high-level executives across various industries.</p>
                </div>
            </div>
        </div>
    </div>
</div>